/*#282828 black  #4e450grey #6f2232dull
 #950740darkpink   #c3073fligh pink*/
/*#000000 #181818 #2CCCC3 #FACD3D #E60576  #5626C4

 */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /*background-color: #282828;
  background-color: #181818;*/
  background-color: #5adbff;
  font-family: "Comfortaa", cursive;

}
.title {
  letter-spacing: 1.5rem;
  margin-top: 40px;
  font-size: 3rem;
  text-align: center;
  font-family: "Comfortaa", cursive;
  color: #111010;
}
#score {
  font-size: 1.5rem;
  margin: 0 auto;
}
.score_text {
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0 auto;
  font-family: "Comfortaa", cursive;
  color: #5adbff;
}
.container {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.grid {
  background-color: #111010;

  width: /*400px*/ 300px;
  height: /*850px*/ 600px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
}

.grid div {
  height: 30px;
  width: 30px;
  border-radius: 10%;
}

.sq_color {
  background-color: #2cccc3;
  border: solid 3px rgba(255, 251, 251, 0.5);
}

#start_button {
  display: inline-block;
  width: 8rem;
  height: 4rem;
  padding: 20px;
  margin: 1.5rem auto;
  font-size: 1.25rem;
  border-radius: 15px;
  background-color: #07004d;
  color: #5adbff;
  text-align: center;
  transition: all linear 0.5s;
}

#start_button:hover{
  background-color: #5adbff;
  color: #07004d;
}
.third_container h3{
  font-size: 1.5rem;
}
#aftaken {
  display: none;
}

.mini_grid {
  height: 120px;
  width: 120px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 3rem;
  background-color: #181818;
  border-radius: 20px;
  margin:1rem auto;
}

.mini_grid div {
  width: 30px;
  height: 30px;
  border-radius: 20%;
}

.grids_container {
  display: flex;
  flex-wrap: wrap;
}
h3 {
  
  font-weight: 500;
  font-size: 35px;
  color: #5adbff;
}

.controls {
  align-self: flex-end;
  padding-right: 4rem;
}

.second_container {
  display: flex;
  padding: 0 auto;
}

.third_container {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  place-content: center;
  margin-right: 8rem;
  background-color: #111010;
  border-radius: 20px;
  width: 200px;
  height: 350px;
  flex-wrap: wrap;
}
